<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <!--Loading Bootstrap component from CDN-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!--Loading custom styles-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/androidstudio.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dblue">
      <a class="navbar-brand" href="#">
          <h1><img src="{{url_for('static',filename='icon.png')}}" width="64" height="64" class="d-inline-block align-center" alt="СТП им. Арташеса">&nbsp;{{ project_name }} им. Арташеса™®</h1>
      </a>
      <p>Контактная информация: Telegram Handle: @FarmArt, Discord Handle: @FarmArt#1531</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#info"><s>О нас</s> Обо мне</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#stencil">Графический пакет Visio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#visiomanual">Инструкция по работе с ГОСТ-пакетом</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lectures">Лекции по разным предметам</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/info">Блог о программировании</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
<main>
  <section><p>Этот сайт может использовать печеньки. А может и не использовать, спросите у Cloudflare.
    Продолжая здесь находиться, вы подтверждаете, что осознали это.</p></section>
{% block content %}
{% endblock %}
</main>
</body>
</html>