<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <!--Loading Bootstrap component from CDN-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!--Loading custom styles-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dblue">
      <a class="navbar-brand" href="#">
          <h1><img src="{{url_for('static',filename='icon.png')}}" width="64" height="64" class="d-inline-block align-center" alt="СТП им. Арташеса">&nbsp;Служба Тех.поддержки им. Арташеса</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#info"><s>О нас</s> Обо мне</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#stencil">Графический пакет Visio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#visiomanual">Инструкция по работе с ГОСТ-пакетом</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
<main>
<h1><a name="info"></a>Это кто вообще?</h1>
<p>Если вы умудрились найти этот сайт, то уж наверное вы хотя бы примерно знаете, кто я такой.
  Меня зовут Арташес, я родился в 2003 году и я состою в группе СОИ-Б.12. Сразу отвечаю на повисший вопрос:
  да, я бог вёрстки и это не оспаривается.</p>
<p><s>Ещё со школы</s> Исторически сложилось, что я в числе первых разбираюсь в новых темах и затем
  помогаю остальным. Причины мне достоверно не известны, но факт остаётся фактом - я выполняю роль
  живого центра тех. поддержки.
</p>
<p>Когда я осознал это в полной мере, я решил, что это дело нельзя
  оставлять как есть. Нужно развиваться и прогрессировать, делая сервис более доступным и простым.
  Именно это и натолкнуло меня на мысль создания этого самого сайта. Добро пожаловать ¯\_(ツ)_/¯
</p>
<h1><i>З а ч е м ?</i></h1>
<p>Чтобы не заваливать телеграм-чат сообщениями с обновлениями, вот зачем. Здесь будут собраны все
  созданные мною ресурсы, которые каким-либо образом могут помочь юному бауманцу, будь то
  таблица с расписанием, инструкция по использованию графического пакета для Visio или что-нибудь другое.</p>
<hr>
<h1><a name="#stencil"></a>Набор фигур ГОСТ-19.701-70 для Microsoft Visio (текущая версия: 4.0)</h1>
<p>Установив Visio, я не обнаружил там пакета графики, соответствующего ГОСТу, приложенному к заданию.
  Это может быть связано с тем, что я ставил англоязычную версию программы, а может быть и не связано.
  В любом случае, пакет всё равно был нужен, поэтому я его нарисовал сам. Пакет содержит:
  <ol>
    <li>Нод "Терминатор" (Начало/Конец работы программы)</li>
    <li>Нод "Процедура"</li>
    <li>Нод "Ввод/Вывод"</li>
    <li>Нод "Внешняя процедура"</li>
    <li>Нод "Решение" (if/switch...case)</li>
    <li>Ноды начала и конца цикла (for)</li>
    <li>Нод "Подготовка данных" (for в один блок)</li>
    <li>Нод "Соединитель"</li>
    <li>Нод "Комментарий"</li>
    <li>Ноды "Динамический Соединитель.С" и "Динамический Соединитель.Б"</li>
  </ol>
  <br>
  Все ноды предоставлены в двух вариациях: Цветная (автоматически адаптируется под текущую тему),
  и ЧБ (не зависит от темы, идеально для печати).
  Ноды вида "Динамический Соединитель" представлены лишь в цветном экземпляре,
  что связано с <s>патологической неспособностью Microsoft делать простой и понятный разработчику каких-либо доп. ресурсов интерфейс</s>
  особенностями программного обеспечения. Каждый нод обладает как минимум 4-мя точками соединения: сверху, снизу, слева, справа.
  Каким-то нодам это положено "по профессии", у каких-то это просто упрощает процесс прикрепления комментария.
</p>
<h2><a href="download/stencil" class="link">Скачать пакет</a></h2><br>
<p></p>
</main>
</body>
</html>