{% extends "base.html" %}
{% block content %}
<section class="odd">
  <h1>Статьи:</h1>
  <ul>
    <li><a class="link" href="{{ url_for('cppbasics') }}">Основы С++ (первая статья из цикла)</a></li>
    <li><a class="link" href="{{ url_for('cppfuncsptrs') }}">Основы С++. Функции и указатели.</a></li>
    <li><a class="link" href="{{ url_for('cppstreamsfiles') }}">Основы С++. Потоки и файлы.</a></li>
    <li><a class="link" href="{{ url_for('cppstructslists') }}">Основы С++. Структуры и списки.</a></li>
  </ul>
</section>
<section class="even">
  <h1>О чём сий блог?</h1>
  <p>
    Этот блог посвящён программированию, в частности - моему опыту программирования.
    Я буду публиковать здесь всё, начиная от различных записок и пояснений к коду этого сайта
    и заканчивая моими попытками написать TDS на Python. Так как эти проекты ещё не закончены,
    то и публикации будут оформляться, как задокументированные эксперименты, с объяснением
    моего замысла, использованных принципов и т.д.
  </p>
</section>
<section class="odd">
  <h1>А зачем здесь ещё и <i>б л о г?</i></h1>
  <p>
    Преимущественно затем, что <s>мне так захотелось</s> написание блога с публикацией
    кода заставит меня дважды подумать о грамотности структуры проектов, мотивирует меня
    адекватно и внятно комментировать код, и вообще является познавательным опытом как для меня,
    так и для читателя. Я искренне верю, что самый сложный барьер, который нужно преодолеть
    начинающему программисту - это осознание самой концепции программирования, получение
    представления о том, как вообще ведётся работа над <i>сравнительно</i> крупными проектами
    (aka больше, чем 1 файл на ~100 строк, которые выполняют совершенно абстрактное и не
    несущее практического смысла задание, либо изобретают велосипед).
  </p>
</section>
<section class="even">
  <h1>Пример вставки с кодом</h1>
  <pre><code class="python">class Human:
    def __init__(self, name):
        self.job = None
        self.name = name


class Programmer(Human):
    def __init__(self, name, pl):
        super().__init__(name)
        self.job = 'Programmer'
        self.programming_language = pl

    def do_programmer_things(self):
        eval('print("Hello World!")')
        template = 'Okay guys I just hacked the pentagon servers using {} no biggie'
        print(template.format(self.programming_language)


me = Programmer('Artashes', 'Python')
me.do_programmer_things()

>>> Hello World
>>> Okay guys I just hacked the pentagon servers using Python no biggie
  </code></pre>
</section>
{% endblock %}