{% extends "base.html" %}
{% block content %}
<section class="odd">
  <h1>Введение в C++</h1>
  <p>
    Это первая статья из цикла статей о базовом программировании на С++. По задумке,
    сий цикл статей должен заменить собой "крайне качественные" (нет) лекции
    Боброва и по-человечески объяснить, что же вообще такое плюсы.
  </p>
</section>
<section class="even">
  <h2>Минимальная программа</h2>
  <p>
    У каждой программы на С++ должен быть один элемент, без которого она не запустится -
    это функция main. По традиции, она возвращает int, однако в большинстве случаев
    разрешается объявить её и как void. Раньше программа возвращала число, которое
    являлось кодом завершения работы - по этому числу можно было определить, завершила
    ли программа работу корреткно, была ли она прервана какой-то ошибкой и если да,
    то какой именно ошибкой.
  </p>
  <pre><code class="CPP">
int main() {
    // Ваш код
    return 0;
}
  </code></pre>
  <p>
    То, что вы видите в предыдущем окне - это минимальная программа на С++. Она
    корректно скомпилируется, запустится и сразу же прекратит работу, потому что
    на этом она, собственно, и заканчивается. Процесс работы можно модифициовать,
    если добавить какой-то код вместо комментария - так что это своеобразный
    шаблон программы, в который мы подставляем необходимые нам команды.
    Теперь давайте разберём, как можно
    писать код, который будет <i>что-то делать.</i>
  </p>
</section>
<section class="odd">
  <h2>Переменные. Ввод и вывод.</h2>
  <p>
    Для работы с данными используются переменные - это кодовые имена, которые
    мы даём слотам памяти компьютера. Уже сам компилятор разберётся, куда ему
    удобнее будет положить каждую переменную, мы лишь указываем её имя и тип.
    Тип переменной - это, грубо говоря, набор правил, которыми руководствуется
    процессор при работе с этой переменной. Именно тип решает, сколько байт
    из памяти нужно считать, чтобы получить а, и что будет, если
    мы попробуем прибавить a к b.
  </p>
  <p>Чтобы объявить переменную, мы пользуемся следующим шаблоном:</p>
  <pre><code class="cpp">
type name;  // Объявление (декларация переменной)
name = value;  // Инициализация переменной (присваивание значения)
  </code></pre>
  <p>
    В этом шаблоне type мы заменяем на имя типа, а name на название переменной,
    которое мы хотим использовать. Стоит отметить, что нельзя иметь несколько
    переменных с одним и тем же именем, так что если вы уже объявили a как int,
    вы не сможете переобъявить её как, например, double.
  </p>
  <p>
    Когда мы объявили переменную (type name;), мы ещё не присвоили ей никакого значения -
    пока что там есть только мусор, который остался от работы других программ.
    При желании, можно сразу присвоить переменной какое-то значение, не разбивая процесс
    на две строки:
  </p>
  <pre><code class="cpp">
type name = value;
  </code></pre>
  <p>
    Кроме того, мы можем объявить несколько переменных одного типа в одной строке,
    и там же инициализировать их:
  </p>
  <pre><code class="cpp">
type name = value, variable, OtherVariable;
  </code></pre>
  <p>
    В этом фрагменте кода мы создали три переменных, из которых инициализировали только
    name.
  </p>
  <h2>Работа с переменными</h2>
  <p>
    Кроме очевидных вещей, как присваивание готовых значений переменным и выполнения простейших
    математических операций, существуют также объединённые операторы:
  </p>
  <pre><code class="cpp">
a = a + b;
a += b;
// Эти строки идентичны
  </code></pre>
  <p>
    Если записать какую-то операцию перед знаком присваивания, то переменная,
    которой мы присваиваем значение, будет в конце подставлена с этим знаком к
    значению справа. Например, код, приведённый ниже, увеличит а в 2 раза:
  </p>
  <pre><code class="cpp">
a *= 5 - 3;
  </code></pre>
  <p>Это происходит потому, что сначала происходит вычисление всего выражения справа, и уже затем
  идёт подстановка переменной a с оператором умножения. Поэтому, вместо того, чтобы получить
  5a - 3, мы получим a * (5-3) == a * 2 == 2a.</p>
  <p>Ещё одна важная функция - инкременты и декременты. Они увеличивают и уменьшают переменную
  на 1, соответственно. Существует два вида их записи: постфикс и префикс:</p>
  <pre><code class="cpp">
a = 10;
b = 5;
a += b++; // a теперь равно 15, после чего b стало равно 6
a += ++b; // b теперь равно 7, и а становится равным 22
  </code></pre>
  <p>Это всё прекрасно, но какой смысл в создании переменных и взаимодействии с ними, если
    мы не увидим результат в консоли? Поэтому я предлагаю разобрать и вывод данных.</p>
</section>
<section class="even">
  <p>
    Первым делом подключим соответствующие библиотеки. Чтобы разблокировать доступ
    к вводу и выводу, необходимо написать в начале файла (ещё до int main)
  </p>
  <pre><code class="cpp">
#include &lt;iostream&gt;

using namespace std;
  </code></pre>
  <p>
    Существует два главных способа выводить данные в консоль: потоковый (cout) и
    функциональный (printf). printf - это наследие от обычного C, это функция,
    которая позволяет осуществлять форматированный вывод данных. Общий формат
    её использования выглядит так:
  </p>
  <pre><code class="cpp">
printf("template", argument1, argument2,...);
  </code></pre>
  <p>
    Строка-шаблон (template) - это то, во что мы будем подставлять последующие аргументы.
    Например, у нас есть переменная number типа int, равная, допустим, 10.
    Если мы хотим вывести в консоль "Значение number: 10", то мы напишем:
  </p>
  <pre><code class="cpp">
printf("Значение number: %d\n", number);
  </code></pre>
  <p>
    %d - это некий код, который как бы говорит функции, что в это место мы подставим целое
    десятичное число. Существует множество таких кодов, главные из них - %d (целое число),
    %s (строка), %f (дробное число). Существуют также различные параметры, которые позволяют
    модифицировать вывод - например, выровнять все выведенные числа таким образом, чтобы
    они занимали ровно 5 символов. Всё это можно найти в интернете.
    \n - это символ перевода строки, без него у нас все выведенные через printf
    строки прилипнут друг к другу и будут находиться в одной строке.
  </p>
  <p>
    Резюмируем: printf идеально подходит для красивого, форматированного вывода, но
    когда нужно просто выкинуть что-то в консоль... Это не самый удобный способ вывода.
    Кроме того, он в какой-то степени является архаикой (это слово вы будете слышать часто
    в этих статьях), оставшейся, по-факту, ради обратной совместимости с С.
  </p>
</section>
<section class="odd">
  <p>
    Существует и другой способ вывода данных, специфичный именно для плюсов. Это - потоковый вывод
    (cout). Посмотрим, как осуществляется вывод данных через cout:
  </p>
  <pre><code class="cpp">
cout << variable << "строка" << endl;
  </code></pre>
  <p>
    Чтобы передать какой-то аргумент в cout, мы ставим два знака "меньше" (галочки влево).
    Если мы хотим вывести несколько переменных или строк, мы разделяем их теми же знаками.
    Кроме того, cout поддерживает различные кодовые имена для символов, как, например, endl вместо
    "\n". В cout тоже можно настроить некоторое форматирование вывода, но это
    не самый приятный процесс, так что обычно cout используют лишь для простого вывода.
    У cout есть ряд различных преимуществ, которые я пока что не стану описывать, потому что
    до таких тем, как ООП нам ещё как до луны пешком, и пока что эти преимущества не имеют
    для нас особого смысла.
  </p>
  <p>
    Резюмируем: cout больше подходит для простого вывода данных, потому что
    от вас не требуется вспоминать необходимый идентификатор или задумываться о том,
    какого типа у вас строка - нуль-терминированная или std::string. В будущих
    примерах я, в основном, буду использовать cout.
  </p>
</section>
<section class="even">
  <p>
    Другой важной процедурой является ввод данных из консоли. Для этого используются
    scanf, аналогичный printf, и поток cin. Учитывая уровень наших задач, scanf разбирать
    не стоит, так что просто посмотрим на cin.
  </p>
  <pre><code class="cpp">
cin >> variable >> othervar;
  </code></pre>
  <p>
    Как и в cout, для ввода мы используем угловые скобки, теперь направленные вправо.
    cin самостоятельно определяет, какого типа переменные вы хотите считать, и записывает
    в них данные из консоли, разделённые символами пустого пространства (пробел, табуляция,
    перенос строки и так далее).
  </p>
</section>
<section class="odd">
  <h2>Ветвление. Циклы.</h2>
  <p>
    Это всё замечательно, но для адекватного программирования полученной информации
    явно не хватает. Здесь вступают в игру опции ветвления и циклы. Ветвление - это
    когда в зависимости от какого-то условия наша программа будет выполнять разные
    последовательности команд. Шаблон ветвления выглядит следующим образом:
  </p>
  <pre><code class="cpp">
if (condition) {
    // Код, исполняемый в случае истинности condition
} else if (othercondition) {
    // Код, исполняемый в случае, когда condition - ложь, а othercondition - истина
} else {
    // Код на тот случай, когда ни одно из условий не справедливо
}
  </code></pre>
  <p>
    condition - это любое логическое выражение. В С++ часто используются
    следующие конструкции:
    <ul>
      <li>a > b - true, если a больше b</li>
      <li>a < b - true, если b больше а</li>
      <li>a == b - true, если a и b равны (помните, что одинарное равно - это присваивание значения!)</li>
      <li>Существуют также комбинированные версии - >= и <=</li>
      <li>a != b - true, если а и b различны</li>
      <li>a || b - логическое "или", true, если одно из выражений даёт true</li>
      <li>a && b - логическое "и", true, если оба выражения дают true</li>
      <li>!a - логическое "не", true, если a - ложь</li>
    </ul>
  </p>
  <p>
    Отдельно стоит осветить тему определения истинности переменных. Если передать в качестве условия
    не логическое выражение, а просто переменную, то она будет приведена к 0/1 и уже потом
    проверена на истинность.
    Правила приведения просты:
    <ul>
      <li>Любое число, кроме нуля, даст 1, включая отрицательные </li>
      <li>Любая непустая строка (string) даст 1</li>
      <li>Наверное есть и другие, но на ум больше ничего особо не приходит. Пустые последовательности,
      как правило, должны давать 0, остальные 1.</li>
    </ul>
  </p>
  <p>
    В ветвлении есть лишь один обязательный блок - это if. else if и else являются
    опциональными, и если они вам не нужны, их можно просто не писать; кроме того,
    вы можете установить сколько угодно различных блоков else if.
  </p>
</section>
<section class="even">
  <p>
    Другим способом ветвления является switch-case. Мы передаём в него числовую
    переменную, и затем расписываем действия для каждого из его значений:
  </p>
  <pre><code class="cpp">
switch(number) {
    case 1:
        // Код на случай, когда number == 1
        break;
    case 2:
        // Код на случай, когда number == 2
        break;
    default:
        // Местный else
        break;
}
  </code></pre>
</section>
<section class="odd">
  <p>
    Теперь рассмотрим циклы. Существует два основных вида циклов в C++: параметрические
    и циклы с пост- или предусловием.
  </p>
  <pre><code class="cpp">
// Цикл с предусловием
while (condition) {
    // Код
}

// Цикл с постусловием
do {
    // Код
} while (condition);
  </code></pre>
  <p>
    condition - это логическое выражение, которое будет повторно вычисляться каждый раз,
    когда цикл полностью пройдёт по своему содержимому. Как только оно даст false, цикл прервётся
    и программа продолжит исполнение кода после цикла. Цикл с постусловием отличается от
    цикла с предусловием тем, что он обязательно выполнится хотя бы единожды.
  </p>
  <pre><code class="cpp">
// Параметрический цикл
for (type var = value; condition; increment) {
    // Код
}
  </code></pre>
  <p>
    Параметрический цикл - это цикл, в котором создаётся локальная переменная,
    затем происходит выполнение тела цикла, затем исполняется команда в поле
    increment, после чего выполняется проверка условия condition. Фактически,
    этот код является просто сокращённой записью кода
  </p>
  <pre><code class="cpp">
type var = value;
while (condition) {
    // Код
    increment;
}
  </code></pre>
  <p>
    Самой распространённой формой параметрических циклов являются циклы со счётчиком:
  </p>
  <pre><code class="cpp">
for (int i=0; i < n; i++) {
    // Код
}
  </code></pre>
  <p>
    Упомянем, что в циклах доступны такие вещи, как break; и continue; - break
    прерывает работу текущего цикла и выходит из него, тогда как continue заставляет цикл
    перейти на следующую итерацию.
  </p>
</section>
<section class="even">
  <p>
    Применим полученные знания на практике: напишем примитивный калькулятор,
    который получает с клавиатуры два числа и знак операции, после чего выведет
    результат этой операции. Программа будет повторяться либо пока пользователь не
    попросит выйти, либо, если пользователь это укажет, пока не будет совершено
    N вычислений. Помните, что этот код - это просто пример, даже такой примитивный
    калькулятор можно записать гораздо лучше, чем здесь - но материал есть материал,
    и закреплять нужно в памяти именно его.
  </p>
  <pre><code class="cpp">
#include &lt;iostream&gt;

using namespace std;

int main() {
    bool endless;
    int n;  // n - число итераций
    double a, b;  // a, b - числа для взаимодействия

    cout << "How many calculations would you like to perform? Input 0 for endless." << endl;
    cin >> n;
    endless = n == 0; // Запишем true, если пользователь не хочет ограничения по числу итераций
    if (endless) {
        bool running = true;
        char sign;
        double result;
        while (running) {
            cout << "Enter a, b and the operation sign:" << endl;
            cin >> a >> b >> sign;
            switch (sign) {  // char - это просто короткий int, и символы имеют числовой код
                case '+':
                    result = a + b;
                    break;
                case '-':
                    result = a - b;
                    break;
                case '*':
                    result = a * b;
                    break;
                case '/':
                    result = a / b;
                    break;
                default:
                    cout << "That's not an operation, I'll pretend you wanted to quit instead :)" << endl;
                    running = false;
                    break;
            }
            if (running) {
                printf("%f %c %f = %f\n", a, sign, b, result);
            }
        }
    } else {
        for (int i=0; i < n; i++) {
            bool success = true;
            char sign;
            double result;
            cout << "Enter a, b and the operation sign:" << endl;
            cin >> a >> b >> sign;
            switch (sign) {  // char - это просто короткий int, и символы имеют числовой код
                case '+':
                    result = a + b;
                    break;
                case '-':
                    result = a - b;
                    break;
                case '*':
                    result = a * b;
                    break;
                case '/':
                    result = a / b;
                    break;
                default:
                    cout << "That's not a sign, you just wasted a calculation!" << endl;
                    success = false;
                    break;
            }
            if (success) {
                printf("%f %c %f = %f\n", a, sign, b, result);
            }
        }
    }
    return 0;
}
  </code></pre>
  <p>
    На этом завершается статья об основах С++, в следующей статье мы разберём функции,
    после чего я планирую разобрать работу со строками и с файлами.
  </p>
</section>
{% endblock %}