{% extends "base.html" %}
{% block content %}
<section class="odd">
  <h1>Первый тип задач - 1-4 - матрицы с cstdio</h1>
  <p>
    Эти задачи крайне просты в исполнении и не требуют особых усилий
    со стороны пишущего экзамен. Единственной преградой на пути к успеху
    становятся страшные слова "Для работы с файлом используйте функции
    библиотеки stdio", когда нормальные люди давно пользуются потоками.
    На примере первой задачи я покажу, как работать с этим недоразумением,
    к задачам 2-4 я приведу краткие описания алгоритмов решения.
  </p>
  <pre><code class="cpp">
// ---funcs.hpp---
#ifndef TEST_FUNCS_HPP
#define TEST_FUNCS_HPP
void transpose(int **&matrix, int n, int m);
void rotate_90(int **&matrix, int n, int m);
void rotate_180(int **&matrix, int n, int m);
void print_matrix(int **matrix, int n, int m);
void delete_matrix(int **matrix, int n);
#endif
  </code></pre>
  <p>
    Надеюсь, здесь пояснять ничего не нужно. Объявили сигнатуры функций,
    которыми будем пользоваться - их тут немного, можно (и, на самом деле, нужно)
    было сделать больше, чтобы сделать код в main-е чище, но и так сойдёт.
  </p>
  <pre><code class="cpp">
// ---funcs.cpp---
#include "funcs.hpp"
#include &lt;iostream>
using std::swap;


void transpose(int **&matrix, int n, int m) {
    int **output = new int*[m];
    for (int i=0; i < m; i++) {
        output[i] = new int[n];
        for (int j=0; j < n; j++) {
            output[i][j] = matrix[j][i];
        }
    }
    delete_matrix(matrix, n);
    matrix = output;
}

void rotate_90(int **&matrix, int n, int m) {
    transpose(matrix, n, m);
    for (int i=0; i < m/2; i++) {
        swap(matrix[i], matrix[m-i-1]);
    }
}

void rotate_180(int **&matrix, int n, int m) {
    rotate_90(matrix, n, m);
    rotate_90(matrix, m, n);
}

void print_matrix(int **matrix, int n, int m) {
    for (int i=0; i < n; i++) {
        for (int j=0; j < m; j++) {
            printf("%d ", matrix[i][j]);
        }
        printf("\n");
    }
}

void delete_matrix(int **matrix, int n) {
    for (int i=0; i < n; i++) {
        delete matrix[i];
    }
    delete matrix;
}
  </code></pre>
  <p>
    Здесь уже немного посложнее. Инклюдим заголовочный файл и предоставляем
    реализации объявленным в нём функциям. Кроме того, инклюдим iostream и
    добавляем в текущее именное пространство swap, потому что лень матушка.
    Почему же я с включённым iostream использую printf вместо cout? Честно
    сказать - я без понятия. Было лень переделывать код.
  </p>
  <p>
    Разобъём требуемые операции на примитивные действия. Как повернуть матрицу на
    180 градусов? Повернуть её на 90 дважды. Одной проблемой меньше. Встаёт другой
    вопрос: как повернуть матрицу на 90 градусов? Это достаточно тривиальная процедура,
    для этого можно транспонировать матрицу и поставить её строки в обратном порядке.
    Надеюсь, объяснять процедуру транспонирования (и, тем более, разворота матрицы)
    не нужно. В функции мы передаём матрицы по ссылке, так что изменения сразу
    отражаются в переданной переменной и нам можно не бояться каких-то утечек памяти
    или прочего мусора.
  </p>
  <pre><code class="cpp">
// ---main.cpp---
#define _CRT_SECURE_NO_WARNINGS
#include &lt;cstdio>
#include &lt;iostream>
#include &lt;string>
#include "funcs.hpp"

using namespace std;

#define N 3
#define M 5

int main() {
    string path_in, path_out;
    cout << "Enter path to input file" << endl;
    getline(cin, path_in);

    /// Open file
    FILE *input = fopen(path_in.c_str(), "rt");
    while (input == nullptr) {
        cout << "Failed to open file." << endl;
        cout << "If you'd like to open a different file, enter its path." << endl;
        cout << "If you'd like to quit, enter 'quit'." << endl;
        ws(cin);
        getline(cin, path_in);
        if (path_in == "quit") {
            exit(0);
        } else {
            input = fopen(path_in.c_str(), "rt");
        }
    }

    /// Read matrix
    int **matrix = new int*[N];
    for (int i=0; i < N; i++) {
        matrix[i] = new int[M];
        for (int j=0; j < M; j++) {
            int amount = fscanf(input, "%d", &matrix[i][j]);
            if (!amount) {
                cerr << "Failed to read matrix from file." << endl;
                exit(1);
            }
        }
    }
    fclose(input);

    cout << "Successfully read the following matrix:" << endl;
    print_matrix(matrix, N, M);

    /// Get angle
    cout << "How would you like to rotate your matrix? 180 or 90 degrees?" << endl;
    int angle;
    cin >> angle;
    while (angle != 180 && angle != 90) {
        cout << "Sorry, the angle you've entered is not correct." << endl;
        cout << "Please try again." << endl;
        cin >> angle;
    }

    /// Rotate matrix and obtain new size
    int n, m;
    if (angle == 90) {
        rotate_90(matrix, N, M);
        n = M, m = N;
    } else {
        rotate_180(matrix, N, M);
        n = N, m = M;
    }

    cout << "Rotated matrix:" << endl;
    print_matrix(matrix, n, m);

    /// Open output file
    cout << "Enter path to output file" << endl;
    ws(cin);
    getline(cin, path_out);
    FILE *output = fopen(path_out.c_str(), "wb");
    while (output == nullptr) {
        cout << "Failed to open file. Please enter a different path." << endl;
        ws(cin);
        getline(cin, path_out);
        output = fopen(path_out.c_str(), "wb");
    }

    /// Dump data
    for (int i=0; i < n; i++) {
        fwrite(matrix[i], sizeof(int), m, output);
    }
    fclose(output);
    cout << "Data dumped successfully" << endl;
    delete_matrix(matrix, n);

    /// Test dumped data
    input = fopen(path_out.c_str(), "rb");
    matrix = new int*[n];
    for (int i=0; i < n; i++) {
        matrix[i] = new int[m];
        fread(matrix[i], sizeof(int), m, input);
    }
    fclose(input);
    cout << "Read the following matrix from binary file:" << endl;
    print_matrix(matrix, n, m);
    return 0;
}
  </code></pre>
  <p>
    А вот тут нужно объяснять. Идём по порядку: отключаем предупреждения
    о небезопасных функциях через #define _CRT_SECURE_NO_WARNINGS (sic!),
    подключаем cstdio, iostream, string и наш родной funcs.hpp. Как и просили в условии,
    константы объявляем через define, потому что можем. Я выбрал значения 3 и 5,
    подойдут любые натуральные числа.
  </p>
  <p>
    Первым делом мы должны открыть файл для чтения матрицы. Получаем путь до него
    из консоли через getline, пытаемся открыть средствами fopen. Функция fopen
    принимает два аргумента: строка-путь до файла и строка-модификатор открытия.
    Обе должны быть обычными c-строками, так что придётся вызвать метод string.c_str().
    Если файл удалось открыть, функция вернёт на него указатель (тип FILE*), иначе
    нам гордо отдадут в руки NULL. Соответственно, пока мы не можем открыть файл,
    мы будем слёзно просить пользователя ввести нормальный путь до файла. Если он
    введёт 'quit', мы сдаёмся и выключаем программу.
  </p>
  <p>
    Если мы-таки смогли открыть файл, из него необходимо считать матрицу. Для этого
    используется функция fscanf. В неё передаются следующие аргументы:
  </p>
  <ol>
    <li>Файловый указатель</li>
    <li>Строка-шаблон, согласно которой читаются данные</li>
    <li><i>Указатели</i> (это важно) на переменные, в которые мы хотим записать
    данные.</li>
  </ol>
  <p>
    Читать будем по одному числу за раз, так что и строка-шаблон будет предельно проста -
    "%d". Извлекаем адрес элемента матрицы и передаём его в функцию, затем
    проверяем, что нам вернула функция. fscanf возвращает целое число, равное числу
    успешно считанных переменных. В нашем случае это будет либо 0 (чтение упало с ошибкой),
    либо 1 (успешно считан элемент матрицы). По-хорошему, если при чтении произошла ошибка,
    надо просить ввести другой путь до файла, но я решил, что это уже слишком, и просто уведомил
    пользователя о косяке перед выходом из программы.
  </p>
  <p>
    После успешного чтения было бы неплохо показать нашу матрицу, что мы и делаем,
    после чего заводим переменную angle и спрашиваем, на какой угол поворачивать матрицу.
    В условии указаны только 180 и 90 градусов, так что никакой другой принимать не будем,
    даже 90-кратные. Повторяем ввод, пока не получим корректный угол, применяем соответствующую
    функцию и запоминаем новые n и m, ещё раз гордо показав уже изменённую матрицу.
  </p>
  <p>
    Всё тем же способом просим ввести путь до файла вывода, открываем его (в этот раз
    с режимом wb - write binary). Спешно пробегаемся по каждой строке матрицы и вызываем
    функцию fwrite - она принимает указатель на void, размер одного элемента, число элементов и,
    наконец, файл, в который мы будем записывать данные. Т.к. матрица - это массив указателей на
    массивы, matrix[i] и является необходимым нам указателем на void. Вычисляем размер
    инта, подставляем длину строки, которую мы запомнили при изменении матрицы, и пишем это
    дело в открытый файл.
  </p>
  <p>
    На последок, чтобы показать, что в этом файле не какая-то ересь записана, а реальные
    данные, переоткрываем этот файл на чтение и читаем из него данные в бинарном виде через
    fread. Работает функция аналогично - указатель на место, куда будем писать данные,
    размер одной единицы данных, число единиц, файл-источник. Пишем это в нашу матрицу
    и выводим её на экран, после чего закрываем файл и довольные уходим в закат.
  </p>
  <p>
    Это первая задача. Задачи 2-4 немного отличаются по содержанию, но они всё так же
    просты в реализации. Код чтения и записи данных вообще не поменяется, изменится набор
    функций для взаимодействия с матрицей. В задаче №2 мы создаём массив для максимальных
    элементов столбцов, затем сортируем его (можно пузырьком, не стоит лишний раз выпендриваться,
    и это вы слышите от <i>меня</i>) параллельно со столбцами. Что это значит? Это значит, что
    сразу за строкой swap(arr[j], arr[j+1]) будет следовать код, который поменяет местами соответствующие
    столбцы матрицы, чтобы матрица и массив максимальных элементов сохранили связь индексов.
  </p>
  <p>
    В задаче №3 требуется переставить диагонали, что бы это не значило. Наиболее логичным
    мне кажется версия, в которой мы меняем местами главную и побочную диагонали. Главная
    диагональ имеет координаты [i][i], побочная - [i][m-1-i], проходите циклом по матрице
    и swap-аете их друг с другом.
  </p>
  <p>
    В задаче №4 требуется расположить строки в порядке возрастания максимальных
    элементов строк. Система абсолютно та же, что и в №2, только теперь вместо
    столбцов мы смотрим на строки (и код несколько сокращается, потому что для swap-а столбца
    нужно пробежаться for-ом, а для swap-а строки достаточно сделать swap(matrix[i], matrix[i+1])).
  </p>
</section>
<section class="even">
  <h1>Второй тип задач - 5-8 - матрицы с fstream</h1>
  <p>
    Работа с fstream подробно описана в соответствующей статье в Блоге, какого-то
    сакрального смысла в копипасте я не вижу. Условия абсолютно аналогичны таковым из заданий
    1-4, основные принципы реализации общих моментов (таких, как повторный запрос на получение
    пути до файла) я уже рассмотрел в секции задач 1-4, алгоритмы к условиями всё там же.
  </p>
</section>
<section class="odd">
  <h1>Третий тип задач - 9-20 - <strike>геморрой</strike> динамические структуры данных</h1>
  <p>
    Общий шаблон этих задач сводится к следующему: "Вот структура вида ID LNAME FNAME AGE SALARY. Прочитайте
    такие структуры из текстового файла, сложите в стек/очередь/двусвязный список/динамический массив (нужное
    подчеркнуть), реализуйте функции сортировки/поиска/добавления и удаления (нужное подчеркнуть)
    элементов, затем выгрузите данные в двоичный файл". Любители покумекать могут почитать мою
    статью о списках и самостоятельно реализовать требуемые структуры данных, любители похалявить
    могут подождать, пока я допишу минималистичные версии этих структур и выложу их сюда.
  </p>
</section>
{% endblock %}