{% extends "base.html" %}
{% block content %}
<section class="odd">
  <h1><a name="info"></a>Это кто вообще?</h1>
  <p>
    Если вы умудрились найти этот сайт, то уж наверное вы хотя бы примерно знаете, кто я такой.
    Меня зовут Арташес, я родился в 2003 году и я состою в группе СОИ-Б.12. Сразу отвечаю на повисший вопрос:
    да, я бог вёрстки и это не оспаривается.
  </p>
  <p>
    <s>Ещё со школы</s> Исторически сложилось, что я в числе первых разбираюсь в новых темах и затем
    помогаю остальным. Причины мне достоверно не известны, но факт остаётся фактом - я выполняю роль
    живого центра тех. поддержки.<br>
    СТП - значит <s>Сам Ты Пи</s> Служба Тех.Поддержки.
  </p>
  <p>
    Когда я осознал это в полной мере, я решил, что это дело нельзя
    оставлять как есть. Нужно развиваться и прогрессировать, делая сервис более доступным и простым.
    Именно это и натолкнуло меня на мысль создания этого самого сайта. Добро пожаловать ¯\_(ツ)_/¯
  </p>
  <h1><i>З а ч е м ?</i></h1>
  <p>
    Чтобы не заваливать телеграм-чат сообщениями с обновлениями, вот зачем. Здесь будут собраны все
    созданные мною ресурсы, которые каким-либо образом могут помочь юному бауманцу, будь то
    таблица с расписанием, инструкция по использованию графического пакета для Visio или что-нибудь другое.
  </p>
  <h1>Поддержка</h1>
  <p>
    Служба Тех. Поддержки им. Арташеса™ функционирует исключительно на энтузиазме владельца.
    Брать за это деньги было бы несправедливо, ведь те вещи, которые мы осуществляем, не являются
    уникальными или даже трудновыполнимыми. По сей причине, сайт и все продукты на нём доступны
    совершенно бесплатно и без какой-либо рекламы. Но люди с особенно щедрой душой могут
    поддержать Нашу Компанию®, естественно на добровольной основе.
    <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=buyer&targets=&targets-hint=%D0%92%D0%B0%D1%88%D0%B5%D0%BC%D1%83%20%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D0%B8%D1%89%D1%83%20%D0%BD%D0%B0%20%D0%B4%D0%B0%D0%BB%D1%8C%D0%BD%D0%B5%D0%B9%D1%88%D1%83%D1%8E%20%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83%20(%D1%82%D0%BE%D1%87%D0%BD%D0%BE%20%D0%BD%D0%B5%20%D0%BF%D0%B5%D0%BF%D1%81%D1%82%D0%B5%D1%80%D1%8B)&default-sum=50&button-text=11&hint=&successURL=http%3A%2F%2Ffarmart-techsupport.herokuapp.com%2Fthanks&quickpay=shop&account=410013583812160" width="423" height="227" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
  </p>
</section>
<section class="even">
  <h1><a name="stencil"></a>Набор фигур ГОСТ-19.701-70 для Microsoft Visio (текущая версия: 6)</h1>
  <p>
    Установив Visio, я не обнаружил там пакета графики, соответствующего ГОСТу, приложенному к заданию.
    Это может быть связано с тем, что я ставил англоязычную версию программы, а может быть и не связано.
    В любом случае, пакет всё равно был нужен, поэтому я его нарисовал сам. Пакет содержит:
  </p>
    <ol>
      <li>Нод "Терминатор" (Начало/Конец работы программы)</li>
      <li>Нод "Процедура"</li>
      <li>Нод "Ввод/Вывод"</li>
      <li>Нод "Внешняя процедура"</li>
      <li>Нод "Решение" (if/switch...case)</li>
      <li>Ноды начала и конца цикла (for)</li>
      <li>Нод "Подготовка данных" (for в один блок)</li>
      <li>Нод "Соединитель"</li>
      <li>Нод "Комментарий"</li>
      <li>Ноды "Динамический Соединитель.С" и "Динамический Соединитель.Б"</li>
      <li>Шрифт "ГОСТ type-A курсив" в формате truetype (.ttf)</li>
    </ol>
  <p>Все ноды предоставлены в двух вариациях: Цветная (автоматически адаптируется под текущую тему),
    и ЧБ (не зависит от темы, идеально для печати). К пакету приложен ГОСТ-шрифт, рекоммендуемый
    Вершининым для установки и последующего использования в документации. При желании, можно скачать
    предыдущую версию пакета <i>без</i> шрифта, но это надо быть мазохистом.
    Ноды вида "Динамический Соединитель" представлены лишь в цветном экземпляре,
    что связано с <s>патологической неспособностью Microsoft делать простой и понятный разработчику каких-либо доп. ресурсов интерфейс</s>
    особенностями программного обеспечения. Каждый нод обладает как минимум 4-мя точками соединения: сверху, снизу, слева, справа.
    Каким-то нодам это положено "по профессии", у каких-то это просто упрощает процесс прикрепления комментария.
  </p>
  <h2><a href="download/fontandstencil" class="link">Скачать архив со шрифтом и пакетом (Рекомендуем!)</a></h2>
  <h2><a href="download/stencil" class="link">Скачать только пакет (Шрифт = Calibri)</a></h2>
</section>
<section class="odd">
  <h1><a name="visiomanual"></a>Инструкция по установке</h1>
  <p>
    Для добавления пакета в Visio, перетащите файл пакета (.vssx) в программу и откройте появившуюся вкладку.
    Если вы уже читали инструкцию из этой секции, забудьте её напрочь, ибо Microsoft показали нам корпоративный средний палец.
    Вот краткий гайд для тех, кому плевать на нюансы:</p>
    <ol>
      <li>Создайте одну линию с помощью инструмента</li>
      <li>Откройте Допольнительные фигуры -> Набор элементов документа</li>
      <li>Найдите там объект "Линия связи", кликните дважды</li>
      <li>Измените его, как душа пожелает</li>
      <li>Закройте окно и подтвердите изменение шаблона</li>
    </ol>
  <p>
    После сохранения все существующие и последующие линии обновятся и будут совпадать по цвету с темой и по формату с
    Линией связи. Чёрно-белая тема включается во вкладке "Конструктор" (именно так они перевели "Design", лол)
    -> "Без темы".
  </p>
  <p>
    Теперь информация для любопытных: Microsoft ищет не просто элемент "Линия связи" в наборе документа,
    а записывает ID конкретного элемента "Линия связи", созданного автоматически Visio. Переименовать
    элемент из набора документа в линию связи нельзя; можно только перетащить элемент с таким названием,
    и даже в таком случае программа просто создаст новый элемент с числовым постфиксом, который затем
    запоминается, как "Официальный" соединитель. Единственный способ как-то изменить линии - изменить
    официально созданный элемент "Линия связи", иначе Visio просто его проигнорит и создаст свой.
    Браво, Microsoft, апплодирую стоя.
  </p>
</section>
{% endblock %}